In [1]:
import numpy as np
import pandas as pd

## StatsModels Library: Linear Regression & Logistic Regression

### Step 1: Identify the Response & Expalanatory Variable

In [2]:
import statsmodels

In [3]:
df = pd.read_csv('data/taiwan_real_estate2.csv')
df.head()

   dist_to_mrt_m  n_convenience house_age_years  price_twd_msq
0       84.87882             10        30 to 45      11.467474
1      306.59470              9        15 to 30      12.768533
2      561.98450              5         0 to 15      14.311649
3      561.98450              5         0 to 15      16.580938
4      390.56840              5         0 to 15      13.040847